/* Pour mobiles */
#company-presentation
{
    padding: 20px 0px;

    h2 
    {
        margin-left: 20px;
    }

    ol 
    {
        counter-reset: number-operation;
        list-style: none;
        padding-left: 0px;
    }

    ol li 
    {
        counter-increment: number-operation;
        position: relative;
    }

    ol li::before
    {
        content: counter(number-operation);
        background-color: $primary-color;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        position: absolute;
        left: 15px;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:link 
    {
        text-decoration: none;
    }
        

    .operation-list
    {
        display: flex;
        align-items: baseline;
        align-content: space-between;
        background-color: #F2F2F2;
        border-radius: 15px;
        margin: 30px;
        box-shadow: 0px 4px 8px 3px rgb(201 199 199);
        padding: 10px;
        color: black;

        i 
        {
            margin-left: 40px;
        }

        p 
        {
            margin-left: 30px;
            font-weight: bold;
        }
    }

    .operation-list:hover
    {
        background-color: #efe5fa; 
    }

    i:hover 
    {
            color: $primary-color;
    }
}








/* Pour desktop */
@media screen and (min-width: 992px) 
{
    #bloc-page
    {
        max-width: 1450px;

        #company-presentation
        {
            margin: 0px 60px;
        
            .operation-list
            {
                margin-left: 0px;
                margin-right: 0px;
            }

            ol 
            {
                display: flex;
                justify-content: space-between;
            }

            ol li::before
            {
                left: -15px;
                top: 50px;
            }

            li 
            {
                width: 30%;
            }
        }
    }
}





/* Pour desktop grand format */
@media screen and (min-width: 1450px)
{
    #bloc-page
    {
        margin: auto;
    }
}