/* Pour mobiles */

body 
{
    margin: 0px;
}

#header-menu
{
    h1
    {
        color: black;
        text-align: center;
        font-size: 2.5em;
        margin: 20px 0px 10px 0px;
    }

    a:link
    {
        text-decoration: none;
    }

    .fa-arrow-left
    {   
        color:rgb(59, 58, 58);
        font-size: 1.4em;
        position: absolute;
        left: 20px;
        top: 37px;
    }
}



/* Pour desktop */
@media screen and (min-width: 992px)
{
    #header-menu
    {
        .fa-arrow-left
        {
            padding: 0px 0px 0px 75px;
        }
    }
}

