/* Pour mobiles */
#localization 
{
    text-align: center;
    background: linear-gradient(white, #e7e6e6);
        
    form
    {
        background-color: #F2F2F2;
        box-shadow: 0px 15px 8px -10px #c9c7c7 inset;
        display: flex;
        justify-content: center;
        padding: 8px 0px;

        #search 
        {
            background-color: transparent;
            border: none;
        }

        #search::placeholder
        {
            color: black;
            font-weight: bold;
        }
    }

    h2, p
    {
        text-align: center;
    }

    h2 
    {
        margin: 40px 50px 0px 50px;
    }

    p 
    {
        margin: 20px 30px 30px 30px;
        color: gray;
        font-weight: 100;
    }

    #button_restaurant 
    {
        display: inline-block;
        margin-bottom: 50px;
    }
}