/* Pour mobiles */
.main-menu
{
    img
    {
        object-fit: cover;
        height: 272px;
        width: 100%;
    }

    .menu 
    {
        background-color: #f7f7f7;
        border-radius: 50px 50px 0px 0px;
        margin-top: -60px;
        position: relative;
        @include display-menu;

        .title-heart
        {
            display: flex;

            h2 
            {
                font-size: 2em;
                margin: 10px 0px 0px 0px;
                padding: 40px 0px 0px 25px;
            }

            .heart1, .heart2
            {
                position: absolute;
                top: 52px;
                right: 45px;
            }

            .heart1
            {
                color: black;
            }

            .heart2
            {
                opacity: 0;

                &:hover
                {
                    @include animation-heart;
                }
            }
        }

        h3 
        {
            font-weight: 300;
            padding: 0px 0px 8px 25px;
            position: relative;
            margin-top: 40px;
        }

        h3::before
        {
            @include underline-green;
        }

        #button-order
        {
            @include button-gradient;
            width: 40%;
            text-align: center;

            &:hover
            {
                @include button-lightness;
            }
        }

        .button-order
        {
            display: flex;
            justify-content: center;
            padding: 60px 0px;
        }
            
        .flat:hover
        {
            i 
            {
                display: unset;
            }
        }

        .flat
        {
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 8px 20px 0px #c9c7c7;
            margin: 0px 15px 15px 15px;
            position: relative;
            overflow: hidden;

            h4 
            {
                font-size: 1.2em;
                margin: 0px 0px 5px 20px;
                padding-top: 15px;
            }

            p 
            {
                margin: 0px 0px 0px 20px;
                padding-bottom: 20px;
                font-size: 0.95em;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 70%;
                white-space: nowrap;
            }

            span 
            {
                font-weight: bold;
                position: absolute;
                right: 30px;
                bottom: 20px;
            }

            i 
            {
                display: none;
            }

            &:hover
            {
                @include animation-flat;
            }
        }
    }
}










/* Pour desktop */
@media screen and (min-width: 992px) 
{
    .main-menu 
    {
        margin: 0em 3.4em;
    }
}
