@font-face {
  font-family: shrikhand;
  src: url(polices/shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(polices/roboto/Roboto-Regular.ttf);
  src: url(polices/roboto/Roboto-Bold.ttf);
}
body {
  font-family: Roboto, sans-serif;
}
body header h1 {
  font-family: shrikhand;
}

/* Pour mobiles */
@media screen and (max-width: 767px) {
  body {
    margin: 0px;
  }
}
/* Pour mobiles */
@media screen and (max-width: 767px) {
  header h1 {
    color: black;
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0px 10px 0px;
  }
  header a:link {
    text-decoration: none;
  }
}
/* Pour mobiles */
@media screen and (max-width: 767px) {
  body {
    margin: 0px;
  }

  #header-menu h1 {
    color: black;
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0px 10px 0px;
  }
  #header-menu a:link {
    text-decoration: none;
  }
  #header-menu .fa-arrow-left {
    color: #3b3a3a;
    padding: 0px 0px 0px 20px;
    font-size: 1.4em;
    position: absolute;
    left: 10px;
    top: 37px;
  }
}
/* Pour desktop */
@media screen and (min-width: 1024px) {
  body {
    max-width: 1450px;
  }
}
/* Pour mobiles */
@media screen and (max-width: 767px) {
  #localization {
    text-align: center;
    background: linear-gradient(white, #e7e6e6);
  }
  #localization form {
    background-color: #F2F2F2;
    box-shadow: 0px 4px 8px 0px #c9c7c7 inset;
    display: flex;
    justify-content: center;
  }
  #localization form #input-search {
    background-color: transparent;
    border: none;
  }
  #localization form #input-search::placeholder {
    color: black;
  }
  #localization h2, #localization p {
    text-align: center;
  }
  #localization h2 {
    margin: 40px 50px 0px 50px;
  }
  #localization p {
    margin: 20px 30px 30px 30px;
    color: gray;
  }
  #localization button {
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-size: 1em;
    margin-bottom: 60px;
  }
}
/* Pour tablettes */
/* Pour desktop */
@media screen and (min-width: 1024px) {
  body {
    max-width: 1450px;
  }
}
/* Pour mobiles */
/* Pour tablettes */
/* Pour desktop */
@media screen and (min-width: 1024px) {
  body {
    max-width: 1450px;
  }
}
/* Pour mobiles */
/* Pour tablettes */
/* Pour desktop */
@media screen and (min-width: 1024px) {
  body {
    max-width: 1450px;
  }
}
/* Pour mobiles */
@media screen and (max-width: 767px) {
  footer {
    color: white;
    background-color: #3b3a3a;
    height: 200px;
  }

  footer ul {
    list-style: none;
  }

  footer li {
    margin-bottom: 10px;
  }

  footer h2 {
    font-family: shrikhand;
    font-size: 1.5em;
    display: inline-block;
    margin: 10px 0px 15px 0px;
  }

  footer a:link {
    text-decoration: none;
    color: white;
  }

  footer .fa-utensils {
    margin-right: 17px;
    color: white;
  }

  footer .fa-hands-helping {
    margin-right: 10px;
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
