#loading-spinner
{
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    animation-name: time-animation;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-fill-mode: both;
    top: 0;
    bottom: 0;

    .loader
    {
        display: flex;

        .load
        {
            background-color: $primary-color;
            width: 15px;
            height: 100px;
            margin-left: 20px;
            animation-name: loading-spinner;
            animation-duration: 1s;
            animation-delay: 166ms;
            animation-fill-mode: backwards;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;

                &__primary2
                {
                    animation-delay: 333ms;
                }

                &__secondary
                {
                    background-color: $secondary-color;
                    animation-delay: 499ms;
                }

                &__secondary2
                {
                    background-color: $secondary-color;
                animation-delay: 666ms;
                }

                &__tertiary
                {
                    background-color: $tertiary-color;
                    animation-delay: 832ms;
                }

                &__tertiary2
                {
                    background-color: $tertiary-color;
                    animation-delay: 1000ms;
                }
        }
    }

    @keyframes loading-spinner 
    {
        0%
        {
            transform: scaleY(0.5);
        }
        100%
        {
            transform: scaleY(1);
        }
    }

    @keyframes time-animation 
    {
        0%
        {
            opacity: 1;
            background: rgba(255, 255, 255, 0.8);
        }
        3%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 0;
            background: rgba(255, 255, 255, 0.8);
            width: 0%;
            height: 0%;
            z-index: 0;
        }     
    } 
}