@font-face
{
    font-family: shrikhand;  
    src: url(polices/shrikhand/Shrikhand-Regular.ttf); 
}



@font-face
{
    font-family: roboto;
    src: url(polices/roboto/Roboto-Regular.ttf);
    src: url(polices/roboto/Roboto-Bold.ttf);
    src: url(polices/roboto/Roboto-Black.ttf);
    src: url(polices/roboto/Roboto-Light.ttf);
    src: url(polices/roboto/Roboto-Medium.ttf);
}

body
{
    font-family: Roboto, sans-serif;

    header h1
    {
        font-family: shrikhand;
    }

    .main-menu h2
    {
        font-family: shrikhand;
    }
}


