@mixin button-gradient 
{
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 20px;
    background: linear-gradient($secondary-color, $primary-color);
    color: white;
    font-size: 1em;
    box-shadow: 0px 4px 8px 3px #c9c7c7;
}


@mixin button-lightness 
{
    filter: brightness(150%);
    box-shadow: 0px 4px 8px 3px #525050;
}


@mixin animation-heart 
{
    background: -webkit-linear-gradient($primary-color, $secondary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-name: remplissage;
    @keyframes remplissage 
    {
        0%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }
}


@mixin underline-green 
{
    position: absolute;
    top: 30px;
    width: 45px;
    height: 3px;
    background-color: $tertiary-color;
    content: "";
}


@mixin animation-flat 
{
    p 
    {
        animation-name: ellipsis-flat;
        animation-duration: 0.7s;
        width: 50%;
    }

    @keyframes ellipsis-flat 
    {
        0%
        {
            width: 70%;
        }
        100%
        {
            transform: 40%;
        }
    }

    span 
    {
        animation-name: slide-price;
        animation-duration: 0.7s;
    }

    @keyframes slide-price 
    {
        0%
        {
            transform: translateX(0);
        }
        100%
        {
            transform: translateX(-100px);
        }
    }

    i 
    {
        width: 60px;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
        color: white;
        background-color: $tertiary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
        bottom: 0px;
        animation-name: slide-left;
        animation-duration: 0.7s;
    }

    @keyframes slide-left 
    {
        0%
        {
            transform: translateX(0);
            transform: rotate(0deg);
        }
        100%
        {
            transform: translateX(-50px);
            transform: rotate(360deg);
        }
    }
}