@mixin button-gradient 
{
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 20px;
    background: linear-gradient($secondary-color, $primary-color);
    color: white;
    font-size: 1em;
    box-shadow: 0px 4px 8px 3px #c9c7c7;
}


@mixin button-lightness 
{
    filter: brightness(150%);
    box-shadow: 0px 4px 8px 3px #525050;
}


@mixin animation-heart 
{
    background: -webkit-linear-gradient($primary-color, $secondary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-name: remplissage;
    @keyframes remplissage 
    {
        0%
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }
}


@mixin underline-green 
{
    position: absolute;
    top: 30px;
    width: 45px;
    height: 3px;
    background-color: $tertiary-color;
    content: "";
}


@mixin animation-flat 
{
    p 
    {
        animation-name: ellipsis-flat;
        animation-duration: 2s;
        width: 50%;
        animation-fill-mode: forwards;
    }

    @keyframes ellipsis-flat 
    {
        0%
        {
            width: 70%;
        }
        100%
        {
            transform: 40%;
        }
    }

    span 
    {
        animation-name: slide-price;
        animation-duration: 2s;
        animation-fill-mode: both;
    }

    @keyframes slide-price 
    {
        0%
        {
            transform: translateX(0);
        }
        100%
        {
            transform: translateX(-100px);
        }
    }


    .i-background
    {
        width: 60px;
        height: 100%;
        background-color: $tertiary-color;
        border-radius: 0px 20px 20px 0px;
        position: absolute;
        right: 0;
        bottom: 0;
        animation-name: slide-left-background;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }

    @keyframes slide-left-background 
    {
        0%
        {
            transform: translateX(200%);
        }
        100%
        {
            transform: translateX(0%);
        }
    }

    i 
    {
        color: white;
        background-color: $tertiary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 13px;
        bottom: 25px;
        z-index: 2;
        animation-name: slide-left;
        animation-duration: 2s;
        animation-delay: 0.38s;
        animation-fill-mode: both;
    }

    @keyframes slide-left 
    {
        0%
        {
            transform: translateX(200%) rotate(0deg);
        }
        100%
        {
            transform: translateX(0%) rotate(360deg);
        }
    }
}


@mixin display-menu 
{
    .flat
    {
        animation-name: display;
        animation-duration: 3s;
        animation-delay: 100ms;
    }
    @keyframes display 
    {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }

    #delay-starter-2
    {
        @extend .flat;
        animation-delay: 322ms;
    }

    #delay-starter-3
    {
        @extend .flat;
        animation-delay: 644ms;
    }

    #delay-flat-1
    {
        @extend .flat;
        animation-delay: 966ms;
    }

    #delay-flat-2
    {
        @extend .flat;
        animation-delay: 1288ms;
    }

    #delay-flat-3
    {
        @extend .flat;
        animation-delay: 1610ms;
    }

    #delay-dessert-1
    {
        @extend .flat;
        animation-delay: 1932ms;
    }

    #delay-dessert-2
    {
        @extend .flat;
        animation-delay: 2254ms;
    }

    #delay-dessert-3
    {
        @extend .flat;
        animation-delay: 2576ms;
    }
}