/* Le trait vert sous Entrées, Plats, Desserts des pages restaurants */
@mixin underline-green 
{
    position: absolute;
    top: 30px;
    width: 45px;
    height: 3px;
    background-color: $tertiary-color;
    content: "";
}